### Data Loading and Saving

In [ ]:
import numpy as np
import pandas as pd

In [10]:
# SEP
customer_data = pd.read_csv('data/customers-100.csv', sep=',')
customer_data.head(10)

# by default pandas put sep value (,) for csv file. but when we are importing TSV (tab), Pipe separated value (|), we have to specify the sep value.

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/

In [11]:
# Header: Determine which row should be the header (column name)
customer_data = pd.read_csv('data/customers-100.csv', header=2)
customer_data.head(10)

# 0: first row of data (default)
# 1: now it treat second row as header
# None: give formal indexing  (0, 1, 2, ....)

,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
0,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
1,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
2,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
3,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
4,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
5,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
6,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
7,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/
8,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,114.336.0784x788,kirksalas@webb.com,2021-10-20,https://simmons-hurley.com/
9,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,2020-11-29,http://www.douglas.net/

In [12]:
# index_col: determine which column should be the column-index of dataframe 
customer_data = pd.read_csv('data/customers-100.csv', index_col=None)
customer_data.head(5)

# None: 0, 1, 2, 3, 4 .. (default)
# 0: add first column as index
# 4: add fifth column as index

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [13]:
# usecols: to load specific columns
column2 = pd.read_csv('data/customers-100.csv', usecols=['First Name', 'City'])
column2

   First Name               City
0      Sheryl       East Leonard
1     Preston  East Jimmychester
2         Roy      Isabelborough
3       Linda         Bensonview
4      Joanna     West Priscilla
..        ...                ...
95       Karl       East Richard
96       Lynn       New Bradview
97       Fred         Ortegaland
98     Yvonne    Lake Elijahview
99   Clarence          Judymouth

[100 rows x 2 columns]

In [14]:
# other
df = pd.read_csv('data/customers-100.csv', parse_dates=['Subscription Date'], na_values=['NA', '?'])
df['Subscription Date']

# parse-dates: convert subscription date column into type-date for further operations
# na_values: treat 'NA' and '?' values as NaN type.

0    2020-08-24
1    2021-04-23
2    2020-03-25
3    2020-06-02
4    2021-04-17
        ...
95   2022-01-30
96   2021-07-10
97   2021-09-18
98   2021-08-11
99   2020-03-11
Name: Subscription Date, Length: 100, dtype: datetime64[ns]

In [7]:
# all in one 
olympics = pd.read_csv('data/olympics-data.csv', header=0, usecols=['name', 'born_date', 'born_city', 'NOC', 'weight_kg'], parse_dates=['born_date'])
olympics

,name,born_date,born_city,NOC,weight_kg
0,Jean-François Blanchy,1886-12-12,Bordeaux,France,NaN
1,Arnaud Boetsch,1969-04-01,Meulan,France,76.0
2,Jean Borotra,1898-08-13,Biarritz,France,76.0
3,Jacques Brugnon,1895-05-11,Paris VIIIe,France,64.0
4,Albert Canet,1878-04-17,Wandsworth,France,NaN
...,...,...,...,...,...
145495,Polina Luchnikova,2002-01-30,Serov,ROC,61.0
145496,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),ROC,65.0
145497,Yuliya Smirnova,1998-05-08,Kotlas,ROC,55.0
145498,André Foussard,1899-05-19,Niort,France,NaN
145499,Bill Phillips,1913-07-15,Dulwich Hill,Australia,NaN

In [8]:
# writing data 
olympics.to_csv('data/olympics-data-modified.tsv', sep='\t', index=False)

In [9]:
# from olympics data
olympics.index                      # all index
# olympics.isnull().sum()             # number of null values
# olympics.nunique()                  # count unique value per column
# olympics['NOC'].value_counts()      # give frequency of each unique value

RangeIndex(start=0, stop=145500, step=1)